jinja2<3.1
sphinx==2.4.3
sphinx_rtd_theme==0.4.3
readthedocs-sphinx-ext==1.0.1
m2r==0.2.1
mistune==2.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-openapi==0.7.0
geopandas
seaborn
requests
xmltodict
